:root {
 --body-color: #636b72;
 --body-bg-color: #fff;
 --primary-color: #18ab63;
 --primary-color-hover: #12854f;
 --primary-color-active: #12854f;
 --primary-color-inverted: #e9fcf3;
 --primary-color-shadow: rgba(24, 171, 99, 0.35);
 --secondary-color: #21325b;
 --secondary-color-hover: #1c2849;
 --secondary-color-active: #1c2849;
 --secondary-color-inverted: #ecf0f8;
 --secondary-color-shadow: rgba(28, 40, 73, 0.35);
 --positive-color: #00c9a7;
 --positive-color-hover: #009e84;
 --positive-color-active: #009e84;
 --positive-color-inverted: #e5fffb;
 --positive-color-shadow: rgba(0, 201, 167, 0.35);
 --negative-color: #ED4C78;
 --negative-color-hover: #b93b5c;
 --negative-color-active: #b93b5c;
 --negative-color-inverted: #fde8ed;
 --negative-color-shadow: rgba(237, 76, 120, 0.35);
 --alert-color: #F5CA99;
 --alert-color-hover: #bf9a74;
 --alert-color-active: #bf9a74;
 --alert-color-inverted: #fdf3e8;
 --alert-color-shadow: rgba(245, 202, 153, 0.35);
 --info-color: #09A5BE;
 --info-color-hover: #09A5BE;
 --info-color-active: #09A5BE;
 --info-color-inverted: #e7fbfe;
 --info-color-shadow: rgba(9, 165, 190, 0.35);
 --light-color: #f8f9fa;
 --light-color-hover: #e1e5ea;
 --light-color-active: #e1e5ea;
 --light-color-inverted: #f1f1f1;
 --light-color-shadow: rgba(248, 249, 250, 0.35);
 --dark-color: #343a40;
 --dark-color-hover: #2d3339;
 --dark-color-active: #2d3339;
 --dark-color-shadow: rgba(52, 58, 64, 0.1);
 --dark-color-inverted: #F4F5F6;
 --black-color: #000;
 --white-color: #fff;
 --shadow-color: rgba(136, 152, 170, .15);
 --grey-color: #818181;
 --grey-color-100: #f2f2f2;
 --grey-color-300: #d5d5d5;
 --grey-color-500: #b9b9b9;
 --grey-color-700: #9d9d9d;
}