:root {
				   --body-color: #636b72;
				   --body-bg-color: #cccccc;
				   --primary-color: #3c78d8;
				   --primary-color-hover: #12854f;
				   --primary-color-active: #12854f;
				   --primary-color-inverted: #e9fcf3;
				   --primary-color-shadow: rgba(24, 171, 99, 0.35);
				   --secondary-color: #21325b;
				   --secondary-color-hover: #1c2849;
				   --secondary-color-active: #1c2849;
				   --secondary-color-inverted: #ecf0f8;
				   --secondary-color-shadow: rgba(28, 40, 73, 0.35);
				   --positive-color: #00c9a7;
				   --positive-color-hover: #009e84;
				   --positive-color-active: #009e84;
				   --positive-color-inverted: #e5fffb;
				   --positive-color-shadow: rgba(0, 201, 167, 0.35);
				   --negative-color: #ed4c78;
				   --negative-color-hover: rgba(237, 76, 120, 0.35);
				   --negative-color-active: rgba(237, 76, 120, 0.35);
				   --negative-color-inverted: rgba(237, 76, 120, 0.35);
				   --negative-color-shadow: rgba(237, 76, 120, 0.35);
				   --alert-color: #f5ca99;
				   --alert-color-hover: rgba(245, 202, 153, 0.35);
				   --alert-color-active: rgba(245, 202, 153, 0.35);
				   --alert-color-inverted: rgba(245, 202, 153, 0.35);
				   --alert-color-shadow: rgba(245, 202, 153, 0.35);
				   --info-color: #09a5be;
				   --info-color-hover: rgba(9, 165, 190, 0.35);
				   --info-color-active: rgba(9, 165, 190, 0.35);
				   --info-color-inverted: rgba(9, 165, 190, 0.35);
				   --info-color-shadow: rgba(9, 165, 190, 0.35);
				   --light-color: #f8f9fa;
				   --light-color-hover: rgba(248, 249, 250, 0.35);
				   --light-color-active: rgba(248, 249, 250, 0.35);
				   --light-color-inverted: rgba(248, 249, 250, 0.35);
				   --light-color-shadow: rgba(248, 249, 250, 0.35);
				   --dark-color: #343a40;
				   --dark-color-hover: rgba(52, 58, 64, 0.1);
				   --dark-color-active: rgba(52, 58, 64, 0.1);
				   --dark-color-shadow: rgba(52, 58, 64, 0.1);
				   --dark-color-inverted: rgba(52, 58, 64, 0.1);
				   --black-color: #000;
				   --white-color: #fff;
				   --shadow-color: rgba(136, 152, 170, .15);
				   --grey-color: #818181;
				   --grey-color-100: #f2f2f2;
				   --grey-color-300: #d5d5d5;
				   --grey-color-500: #b9b9b9;
				   --grey-color-700: #9d9d9d;
				  }