/* == Label == */

.wojo.label {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    outline: none;
    vertical-align: middle;
    background-color: #757575;
    color: #fff;
    font-family: inherit;
    font-weight: 600;
    margin: 0;
    padding: .5rem 1rem;
    line-height: 1rem;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    border-radius: .250rem;
    box-sizing: content-box;
    border: 1px solid #757575;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    position: relative;
}

.wojo.basic.label,
.wojo.inverted.label {
    background-color: transparent;
    box-shadow: none;
    border-color: #757575;
    color: #757575;
}


/* == Colors == */

.wojo.primary.label {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
}

.wojo.primary.basic.label {
    background-color: transparent;
    color: var(--primary-color);
}

.wojo.primary.inverted.label {
    background-color: var(--primary-color-inverted);
    border-color: var(--primary-color-inverted);
    color: var(--primary-color);
}

.wojo.secondary.label {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: #fff;
}

.wojo.secondary.basic.label {
    background-color: transparent;
    color: var(--secondary-color);
}

.wojo.secondary.inverted.label {
    background-color: var(--secondary-color-inverted);
    border-color: var(--secondary-color-inverted);
    color: var(--secondary-color);
}

.wojo.positive.label {
    border-color: var(--positive-color);
    background-color: var(--positive-color);
    color: #fff;
}

.wojo.positive.basic.label {
    background-color: transparent;
    color: var(--positive-color);
}

.wojo.positive.inverted.label {
    background-color: var(--positive-color-inverted);
    border-color: var(--positive-color-inverted);
    color: var(--positive-color);
}

.wojo.negative.label {
    background-color: var(--negative-color);
    border-color: var(--negative-color);
    color: #fff;
}

.wojo.negative.basic.label {
    background-color: transparent;
    color: var(--negative-color);
}

.wojo.negative.inverted.label {
    background-color: var(--negative-color-inverted);
    border-color: var(--negative-color-inverted);
    color: var(--negative-color);
}

.wojo.light.label {
    background-color: var(--light-color);
    border-color: var(--light-color);
    color: var(--body-color);
}

.wojo.light.basic.label {
    background-color: transparent;
    color: var(--light-color);
}

.wojo.light.inverted.label {
    background-color: var(--light-color-inverted);
    border-color: var(--light-color-inverted);
    color: var(--light-color);
}

.wojo.dark.label {
    background-color: var(--dark-color);
    border-color: var(--dark-color);
    color: #fff;
}

.wojo.dark.basic.label {
    background-color: transparent;
    color: #fff;
}

.wojo.dark.inverted.label {
    background-color: var(--dark-color-inverted);
    border-color: var(--dark-color-inverted);
    color: var(--dark-color);
}

.wojo.alert.label {
    background-color: var(--alert-color);
    border-color: var(--alert-color);
    color: #fff;
}

.wojo.alert.basic.label {
    background-color: transparent;
    color: var(--alert-color);
}

.wojo.white.label {
    background-color: #fff;
    border-color: #fff;
    color: var(--primary-color);
}

.wojo.white.basic.label {
    background-color: transparent;
    color: #fff;
}

.wojo.transparent.label {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    border: 1px solid transparent;
}


/* == icon == */

.wojo.label .icon {
    margin-right: 0.5rem;
}

.wojo.right.label .icon {
    margin-left: 0.5rem;
    margin-right: 0;
}


/* == rounded == */

.wojo.rounded.label {
    border-radius: 2rem;
}


/* == circular == */

.wojo.circular.label {
    border-radius: 100rem;
}


/* == initials == */

.wojo.initials.label {
    width: 2rem;
    height: 2rem;
    padding: 0;
    line-height: 2rem;
    font-size: .875rem;
}

.wojo.initials.label .icon {
    margin-right: 0;
}


/* == empty == */

.wojo.empty.label {
    min-width: 0em;
    min-height: 0em;
    overflow: hidden;
    width: .875rem;
    height: .875rem;
    padding: 0;
}


/* == ring == */

.wojo.ring.label {
    border-radius: 100%;
    height: .875rem;
    padding: 0;
    vertical-align: middle;
    width: .875rem;
}

.wojo.ring.label.spaced {
    margin-right: .5rem
}

.wojo.ring.label::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 0.625rem;
    left: 0.125rem;
    position: absolute;
    top: 0.125rem;
    transition: all 0.3s ease 0s;
    width: 0.625rem;
}


/* == link == */

.wojo.link.label {
    cursor: pointer;
}

.wojo.simple.label {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    color: inherit;
}


/* == status == */

.wojo.label .status {
    position: absolute;
    top: -2px;
    right: -2px;
    width: .813rem;
    height: .813rem;
    border-radius: 1rem;
    background: #ffffff;
    border: 2px solid #ffffff;
}

.wojo.label .status.negative {
    background: var(--negative-color);
}

.wojo.label .status.positive {
    background: var(--positive-color);
}


/* == Ribbon == */

.wojo.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    z-index: 2
}

.wojo.ribbon::before,
.wojo.ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #AFB3B8;
}

.wojo.ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 1em 0;
    background-color: #C8CBCE;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    color: #fff;
    font-weight: 700;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-transform: uppercase;
    text-align: center;
}


/* top left*/

.wojo.ribbon.top.left {
    top: -10px;
    left: -10px;
}

.wojo.ribbon.top.left::before,
.wojo.ribbon.top.left::after {
    border-top-color: transparent;
    border-left-color: transparent;
}

.wojo.ribbon.top.left::before {
    top: 0;
    right: 0;
}

.wojo.ribbon.top.left::after {
    bottom: 0;
    left: 0;
}

.wojo.ribbon.top.left span {
    right: -20px;
    top: 30px;
    transform: rotate(-45deg);
}

.wojo.ribbon.top.right {
    top: -10px;
    right: -10px;
}

.wojo.ribbon.top-right::before,
.wojo.ribbon.top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
}

.wojo.ribbon.top.right::before {
    top: 0;
    left: 0;
}

.wojo.ribbon.top.right::after {
    bottom: 0;
    right: 0;
}

.wojo.ribbon.top.right span {
    left: -20px;
    top: 30px;
    transform: rotate(45deg);
}

.wojo.primary.ribbon span {
    background-color: var(--primary-color);
    color: var(--primary-color-inverted);
}

.wojo.primary.ribbon::before,
.wojo.primary.ribbon::after {
    border: 5px solid var(--primary-color-active);
}

.wojo.secondary.ribbon span {
    background-color: var(--secondary-color);
    color: var(--secondary-color-inverted);
}

.wojo.secondary.ribbon::before,
.wojo.secondary.ribbon::after {
    border: 5px solid var(--secondary-color-inverted);
}

.wojo.positive.ribbon span {
    background-color: var(--positive-color);
    color: var(--positive-color-inverted);
}

.wojo.positive.ribbon::before,
.wojo.positive.ribbon::after {
    border: 5px solid var(--positive-color-inverted);
}

.wojo.negative.ribbon span {
    background-color: var(--negative-color);
    color: var(--negative-color-inverted);
}

.wojo.negative.ribbon::before,
.wojo.negative.ribbon::after {
    border: 5px solid var(--negative-color-inverted);
}

.wojo.alert.ribbon span {
    background-color: var(--alert-color);
    color: var(--alert-color-inverted);
}

.wojo.alert.ribbon::before,
.wojo.alert.ribbon::after {
    border: 5px solid var(--alert-color-inverted);
}

.wojo.indicating.label {
    position: absolute;
    border: 2px solid #fff;
    bottom: .5rem;
    left: 0;
    z-index: 2;
    width: .5rem;
    height: .5rem;
    border-radius: 1rem;
    padding: 0;
    box-shadow: 0 3px 6px 0 rgba(140, 152, 164, 0.25);
}

.wojo.fitted.label {
    margin: 0;
}


/* == Sizes == */

.wojo.tiny.label {
    font-size: 0.6875rem;
    padding: .250rem .5rem;
}

.wojo.tiny.empty.label {
    width: .5rem;
    height: .5rem;
    padding: 0;
}

.wojo.small.label {
    font-size: 0.750rem;
    padding: .25rem .5rem;
}

.wojo.small.empty.label {
    width: .750rem;
    height: .750rem;
    padding: 0;
}

.wojo.label {
    font-size: 0.813rem;
}

.wojo.big.label {
    font-size: 0.913rem;
}

.wojo.big.initials.label {
    width: calc(2.875rem - 2px);
    height: calc(2.875rem - 2px);
    line-height: calc(2.875rem - 2px);
}

.wojo.huge.initials.label {
    width: calc(4rem - 2px);
    height: calc(4rem - 2px);
    line-height: calc(4rem - 2px);
}

.wojo.large.label {
    font-size: 1rem;
}

.wojo.gigantic.labels .label,
.wojo.gigantic.label {
    font-size: 2.5rem;
}

.wojo.gigantic.initials.circular.label {
    min-width: 3rem;
    min-height: 3em;
    width: 3em;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.5rem;
    margin: 0;
}

.wojo.circular.gigantic.labels .label,
.wojo.circular.gigantic.label {
    min-width: 3em;
    min-height: 3em;
    line-height: 1em;
    text-align: center;
    border-radius: 500rem;
}