/* == Font Size == */

.wojo.italic.text {
    font-style: italic;
}

.wojo.link.text {
    cursor: pointer;
}

.wojo.primary.text {
    color: var(--primary-color);
}

.wojo.secondary.text {
    color: var(--secondary-color);
}

.wojo.positive.text {
    color: var(--positive-color);
}

.wojo.negative.text {
    color: var(--negative-color);
}

.wojo.warning.text {
    color: var(--alert-color);
}

.wojo.light.text {
    color: var(--light-color);
}

.wojo.white.text {
    color: #fff;
}

.wojo.dark.text {
    color: var(--dark-color);
}

.wojo.grey.text {
    color: var(--grey-color);
}

.wojo.strike.text {
    text-decoration: line-through;
}

.wojo.caps {
    text-transform: uppercase;
}

.wojo.short.text {
    line-height: 1;
}

.wojo.tall.text {
    line-height: 2;
}

.wojo.dimmed.text {
    opacity: .75;
}

.wojo.very.dimmed.text {
    opacity: .5;
}

.wojo.outline {
    outline: 2px dashed var(--primary-color);
    outline-offset: 2px;
}

.wojo.icon.text {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
}

.wojo.icon.text>.icon,
.wojo.icon.text>.image,
.wojo.icon.text>.label {
    flex: 0 0 auto;
    max-width: 100%;
    margin-right: .5em;
}

.wojo.icon.text.middle {
    display: flex;
    justify-content: center;
}

.wojo.icon.right.text>.icon,
.wojo.icon.right.text>.image,
.wojo.icon.right.text>.label {
    margin-left: .5em;
    margin-right: auto;
}

.wojo.primary.bg {
    background-color: var(--primary-color);
}

.wojo.primary.inverted.bg {
    background-color: var(--primary-color-inverted);
}

.wojo.secondary.bg {
    background-color: var(--secondary-color);
}

.wojo.secondary.inverted.bg {
    background-color: var(--secondary-color-inverted);
}

.wojo.positive.bg {
    background-color: var(--positive-color);
}

.wojo.positive.inverted.bg {
    background-color: var(--positive-color-inverted);
}

.wojo.negative.bg {
    background-color: var(--negative-color);
}

.wojo.negative.inverted.bg {
    background-color: var(--negative-color-inverted);
}

.wojo.light.bg {
    background-color: var(--light-color);
}

.wojo.dark.bg {
    background-color: var(--dark-color);
}

.wojo.grey.bg {
    background-color: var(--grey-color);
}

.wojo.grey100.bg {
    background-color: var(--grey-color-100);
}

.wojo.grey300.bg {
    background-color: var(--grey-color-300);
}

.wojo.grey500.bg {
    background-color: var(--grey-color-500);
}

.wojo.boxed {
    border: 1px solid var(--grey-color-300);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.wojo.shadow {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.wojo.soft.shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.wojo.primary.fill {
    fill: var(--primary-color);
}

.wojo.secondary.fill {
    fill: var(--secondary-color);
}

.wojo.positive.fill {
    fill: var(--positive-color);
}

.wojo.negative.fill {
    fill: var(--negative-color);
}

.wojo.warning.fill {
    fill: var(--alert-color);
}

.wojo.white.fill {
    fill: #FFF;
}

.wojo.primary.stop {
    stop-color: var(--primary-color);
}

.wojo.secondary.stop {
    stop-color: var(--secondary-color);
}

.wojo.positive.stop {
    stop-color: var(--positive-color);
}

.wojo.negative.stop {
    stop-color: var(--negative-color);
}

.wojo.white.stop {
    stop-color: #FFF;
}

.wojo.purple.stop {
    stop-color: #2d1582;
}

.wojo.primary.gradient {
    background-image: linear-gradient(150deg, #2d1582 0%, #19a0ff 100%);
    background-repeat: repeat-x;
}

.wojo.animated.text {
    background-image: -webkit-linear-gradient(358deg, #f35626, #feab3a);
    background-image: linear-gradient(92deg, #f35626, #feab3a);
    background-clip: text;
    -webkit-animation: hue 10s infinite linear;
    animation: hue 10s infinite linear;
    text-fill-color: transparent;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

@keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="hueRotate" color-interpolation-filters="sRGB" values="0" /></filter></svg>#filter');
        filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
        filter: hue-rotate(-360deg);
    }
}

.highlite {
    background-color: #fffde7!important;
}

.wojo.boxed {
    border: 1px solid var(--grey-color-300);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.wojo.shadow {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.wojo.soft.shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.wojo.readonly {
    position: relative;
    cursor: not-allowed;
    point-events: none;
    text-shadow: none !important;
    color: transparent !important;
    -webkit-transition: all 0s linear;
    transition: all 0s linear;
}

.wojo.readonly:before {
    position: absolute;
    content: '';
    top: 0%;
    left: 0%;
    background: rgba(255, 255, 255, 0.75);
    width: 100%;
    height: 100%;
    border-radius: 0.250em;
    z-index: 10;
}


/* .wojo.rounded {
  border-radius:var(--radius);
} */

.truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* == Scroller == */

.scrollbox {
    overflow: auto;
}


/* == Tabs == */

.wojo.tabs .nav,
.wojo.navs .nav {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;
}

.wojo.tabs .nav li,
.wojo.navs .nav li {
    margin-right: 1rem;
}

.wojo.tabs .nav li:last-child,
.wojo.navs .nav li:last-child {
    margin-right: 0;
}

.wojo.tabs .nav li a,
.wojo.navs .nav li a {
    border: 1px solid var(--grey-color-300);
    padding: .5rem 1.75rem;
    border-radius: 0.250rem;
    display: flex;
    background: #fff;
    flex-flow: row wrap;
    font-weight: 600;
    color: var(--primary-color);
}

.wojo.tabs .nav li a .icon,
.wojo.tabs .nav li a img,
.wojo.navs .nav li a .icon,
.wojo.navs .nav li a img {
    flex: 0 0 auto;
    max-width: 100%;
    align-self: center;
    margin-right: .5rem;
}

.wojo.tabs .nav li a.right .icon,
.wojo.tabs .nav li a.right img,
.wojo.navs .nav li a.right .icon,
.wojo.navs .nav li a.right img {
    margin-left: .5rem;
}

.wojo.tabs .nav li.active a,
.wojo.tabs .nav li a:hover,
.wojo.navs .nav li.active a,
.wojo.navs .nav li a:hover {
    background-color: var(--primary-color);
    color: var(--primary-color-inverted);
}

.wojo.tabs .tab {
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 0.250rem;
    padding: 2rem 1rem;
    background: #fff;
    border: 1px solid var(--grey-color-300);
}

.wojo.fluid.tabs .nav li,
.wojo.fluid.navs .nav li {
    flex: 1 1 0px;
    min-width: 0;
}

.wojo.simple.tabs .nav li a {
    border: 0;
    padding: .5rem 1.5rem;
    border-radius: 0;
    color: var(--dark-color);
}

.wojo.simple.tabs .nav li.active a,
.wojo.simple.tabs .nav li a:hover,
.wojo.simple.tabs .nav li.active a,
.wojo.simple.tabs .nav li a:hover {
    background-color: transparent;
    color: var(--primary-color);
}


/* Mobile */

@media screen and (max-width:48.063em) {
    .wojo.tabs .nav,
    .wojo.navs .nav {
        flex-direction: column;
    }
    .wojo.tabs .nav li,
    .wojo.navs .nav li {
        margin-right: 0
    }
    .wojo.lang.tabs .nav {
        margin-top: -1.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}


/* == Accordion == */

.wojo.accordion section {
    border-radius: .250rem;
    position: relative;
    border: 1px solid var(--grey-color-300);
    margin-bottom: .75rem;
}

.wojo.accordion section h6.summary {
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 0
}

.wojo.accordion section h6.summary a {
    padding: 2rem 4.5rem 2rem 2rem;
    display: block;
    font-weight: 400;
    position: relative;
    border-radius: .250rem .250rem 0 0;
}

.wojo.accordion section h6.summary a::before {
    font-family: "WojoIcons";
    position: absolute;
    content: "\e9e6";
    top: 50%;
    right: 2rem;
    transform: translateY(-50%)
}

.wojo.accordion section.active h6.summary a {
    background-color: var(--primary-color);
    color: var(--primary-color-inverted);
}

.wojo.accordion section.active h6.summary a::before {
    content: "\ea0c";
}

.wojo.accordion section .details {
    padding: 2rem;
}


/* == Breadcrumb == */

.wojo.breadcrumb {
    line-height: 1rem;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    font-weight: 400;
    position: relative;
}

.wojo.breadcrumb:first-child {
    margin-top: 0em;
}

.wojo.breadcrumb:last-child {
    margin-bottom: 0em;
}

.wojo.breadcrumb .divider {
    display: inline-block;
    margin: 0em 12px 0em;
    margin: 0em 0.75rem 0em;
    font-size: 0.913em;
    color: rgba(0, 0, 0, 0.5);
    vertical-align: baseline;
}

.wojo.breadcrumb a {
    color: var(--primary-color);
}

.wojo.breadcrumb a:hover {
    color: var(--primary-active);
}

.wojo.breadcrumb .icon.divider {
    font-size: 0.875rem;
    vertical-align: baseline;
}

.wojo.breadcrumb a.section {
    cursor: pointer;
}

.wojo.breadcrumb .section {
    display: inline-block;
    margin: 0em;
    padding: 0em;
}

.wojo.breadcrumb .active.section {
    color: var(--dark-color);
    font-weight: 500;
}

.wojo.white.breadcrumb a {
    color: rgba(255, 255, 255, 0.7);
}

.wojo.white.breadcrumb a:hover {
    color: #fff;
}

.wojo.white.breadcrumb .active.section {
    color: #fff;
    font-weight: 500;
}

.wojo.white.breadcrumb .divider {
    color: rgba(255, 255, 255, 0.5);
}

.wojo.small.breadcrumb {
    font-size: 14px;
    font-size: .875rem;
}


/* == Sticky == */

.wojo.sticky {
    position: static;
    -webkit-transition: none;
    transition: none;
    z-index: 2;
}

.wojo.sticky.bound {
    position: absolute;
    left: auto;
    right: auto;
}

.wojo.sticky.fixed {
    position: fixed;
    left: auto;
    right: auto;
}

.wojo.sticky.bound.top,
.wojo.sticky.fixed.top {
    top: 0px;
    bottom: auto;
}

.wojo.sticky.bound.bottom,
.wojo.sticky.fixed.bottom {
    top: auto;
    bottom: 0px;
}

.wojo.native.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

@media screen and (max-width:48.063em) {
    ul.wojo.basic.tabs {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    ul.wojo.basic.tabs li {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
}


/* == Pagination == */

.wojo.pagination {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
}

.wojo.pagination .item {
    flex: 1 1 0px;
    min-width: 0;
    line-height: 1rem;
    padding: .750rem;
    font-weight: 700;
    color: var(--dark-color);
    border-radius: .250rem;
    text-align: center;
}

.wojo.pagination .item.active {
    background-color: var(--primary-color);
    color: var(--primary-color-inverted);
}

.wojo.pagination .item:hover {
    color: var(--primary-color);
}

.wojo.pagination .item.disabled {
    color: var(--grey-color-500);
    cursor: not-allowed;
}

.wojo.small.pagination .item {
    padding: .750rem;
    font-size: .875rem;
}


/* == Dividers == */

.wojo.divider {
    border-top: 1px solid var(--dark-color-shadow);
    height: 0;
    margin: 0.5rem 0;
}

.wojo.vertical.divider {
    border: 0;
    background-color: var(--dark-color-shadow);
    height: .750rem;
    margin: 0 0.5rem;
    width: 1px;
    display: inline-block
}

.wojo.basic.divider {
    border-top: 1px solid var(--dark-color-shadow);
    height: 0;
    margin: 0;
}

.wojo.space.divider {
    border: 0;
    margin: 0;
    height: 1rem;
}

.wojo.auto.divider {
    border-color: var(--grey-color-300);
    margin: 1rem -2rem;
}

.wojo.wide.divider {
    border-top: 3px solid var(--grey-color-300);
}

.wojo.very.wide.divider {
    border-top: 5px solid var(--grey-color-300);
}

.wojo.relaxed.divider {
    margin: 1rem 0;
}

.wojo.very.relaxed.divider {
    margin: 1.5rem 0;
}


/* == Lightbox == */

.wbox-overlay *,
.wbox-overlay *:before,
.wbox-overlay *:after {
    -webkit-backface-visibility: hidden;
    box-sizing: border-box;
}

.wbox-overlay * {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

.wbox-overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1040;
    -webkit-transform: translateZ(1000px);
    transform: translateZ(1000px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.wbox-title {
    width: 100%;
    height: 40px;
    float: left;
    text-align: center;
    line-height: 28px;
    font-size: 12px;
    padding: 6px 40px;
    overflow: hidden;
    position: fixed;
    display: none;
    left: 0;
    z-index: 1050;
}

.wbox-close {
    cursor: pointer;
    position: fixed;
    top: -1px;
    right: 0;
    width: 50px;
    height: 40px;
    padding: 6px;
    display: block;
    background-position: 10px center;
    overflow: hidden;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    z-index: 1050;
}

.wbox-num {
    cursor: pointer;
    position: fixed;
    left: 0;
    height: 40px;
    overflow: hidden;
    line-height: 28px;
    font-size: 12px;
    padding: 6px 10px;
    display: none;
    z-index: 1050;
}

.wbox-next,
.wbox-prev {
    position: fixed;
    top: 50%;
    margin-top: -1em;
    overflow: hidden;
    cursor: pointer;
    display: block;
    width: 2em;
    height: 2em;
    z-index: 1050;
}

.wbox-next span,
.wbox-prev span {
    width: 20px;
    height: 20px;
    border: 2px solid transparent;
    border-top-color: #B6B6B6;
    border-right-color: #B6B6B6;
    text-indent: -100px;
    position: absolute;
    top: 8px;
    display: block;
}

.wbox-prev {
    left: 2em;
}

.wbox-next {
    right: 2em;
}

.wbox-prev span {
    left: 10px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.wbox-next span {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 10px;
}

.wbox-inline {
    width: 420px;
    height: 315px;
    height: 70vh;
    padding: 10px;
    background: #fff;
    margin: 0 auto;
    overflow: auto;
    text-align: left;
}

.wboxframe {
    max-width: 100%;
    border: none;
    width: 100%;
    height: 260px;
    height: 70vh;
}

.wboxframe.wbvid {
    height: 260px;
}

@media (min-width: 768px) {
    .wboxframe,
    .wbox-inline {
        width: 90%;
        height: 360px;
        height: 70vh;
    }
    .wboxframe.wbvid {
        width: 640px;
        height: 360px;
    }
}

@media (min-width: 992px) {
    .wboxframe,
    .wbox-inline {
        max-width: 1200px;
        width: 80%;
        height: 540px;
        height: 70vh;
    }
    .wboxframe.wbvid {
        width: 960px;
        height: 540px;
    }
}

.wbox-open {
    overflow: hidden;
}

.wbox-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    z-index: 20;
    max-height: 100%;
}

.wbox-content {
    text-align: center;
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 20px 10px;
}

.wbox-container img {
    max-width: 100%;
    height: auto;
}

.wbox-content .children {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    max-width: 100%;
    text-align: initial;
}

.wbox-content img.children {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wbox-preloader {
    position: relative;
}

.wbox-preloader:before {
    position: absolute;
    content: '';
    top: 0%;
    left: 0%;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
    z-index: 100;
}

.wbox-preloader:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    margin: -1.5em 0em 0em -1.5em;
    width: 3em;
    height: 3em;
    -webkit-animation: form-spin 0.6s linear;
    animation: form-spin 0.6s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border-radius: 500rem;
    border-color: #377dff rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15);
    border-style: solid;
    border-width: 0.2em;
    box-shadow: 0px 0px 0px 1px transparent;
    visibility: visible;
    z-index: 101;
}

@-webkit-keyframes form-spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes form-spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.wbox-content.swipe-left {
    margin-left: -200px !important;
}

.wbox-content.swipe-right {
    margin-left: 200px !important;
}

.animated {
    webkit-transition: margin 300ms ease-out;
    -webkit-transition: margin 300ms ease-out;
    transition: margin 300ms ease-out;
}

.animate-in {
    opacity: 1;
}

.animate-out {
    opacity: 0;
}


/* == Rating Stars == */

.wojo.stars {
    margin-left: auto;
    margin-right: auto;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.wojo.stars .star {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: 100%;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    margin-right: .25em;
    color: #9E9E9E;
    width: 1em;
    height: 1em;
    line-height: 1em;
}

.wojo.stars a {
    font-size: .813em;
    margin-left: 2em;
    border-bottom: 1px dotted #7e7e7e;
    color: #7e7e7e;
}

.wojo.stars a span {
    font-weight: 500;
}

.wojo.stars .star.active .icon,
.wojo.stars .star.selected .icon {
    color: #FF9800;
}