@font-face {
    font-family: 'Wojo Sans';
    font-style: normal;
    font-weight: 700;
    unicode-range: U+0020-0237;
    src: local(''), url('../fonts/WojoSansBold.woff2') format('woff2'), url('../fonts/WojoSansBold.woff') format('woff');
}

@font-face {
    font-family: 'Wojo Sans';
    font-style: normal;
    font-weight: 600;
    unicode-range: U+0020-0237;
    src: local(''), url('../fonts/WojoSansDemi.woff2') format('woff2'), url('../fonts/WojoSansDemi.woff') format('woff');
}

@font-face {
    font-family: 'Wojo Sans';
    font-style: normal;
    font-weight: 500;
    unicode-range: U+0020-0237;
    src: local(''), url('../fonts/WojoSansMedium.woff2') format('woff2'), url('../fonts/WojoSansMedium.woff') format('woff');
}

@font-face {
    font-family: 'Wojo Sans';
    font-style: normal;
    font-weight: 400;
    unicode-range: U+0020-0237;
    src: local(''), url('../fonts/WojoSansRegular.woff2') format('woff2'), url('../fonts/WojoSansRegular.woff') format('woff');
}

@font-face {
    font-family: 'Wojo Sans';
    font-style: normal;
    font-weight: 300;
    unicode-range: U+0020-0237;
    src: local(''), url('../fonts/WojoSansLight.woff2') format('woff2'), url('../fonts/WojoSansLight.woff') format('woff');
}

@font-face {
    font-family: 'Wojo Sans';
    font-style: normal;
    font-weight: 200;
    unicode-range: U+0020-0237;
    src: local(''), url('../fonts/WojoSansExtraLight.woff2') format('woff2'), url('../fonts/WojoSansExtraLight.woff') format('woff');
}

html {
    font-size: 16px;
    height: 100%;
}

body {
    font-family: "Wojo Sans", Helvetica, Arial, sans-serif;
    color: var(--body-color);
    font-weight: 300;
    background-color: #ffffff;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

a,
a.inverted,
a.secondary,
a.grey,
a.black,
a.white {
    cursor: pointer;
    color: var(--primary-color);
    text-decoration: none;
    transition: all .35s ease;
    outline: none;
}

a:hover,
a.hover,
a:focus {
    color: var(--primary-color-hover);
    transition: all .55s ease;
    outline: none;
    text-decoration: none
}

a.secondary {
    color: var(--secondary-color);
}

a.secondary:hover,
a.secondary.hover,
a.secondary:focus {
    color: var(--primary-color-hover);
}

a.inverted,
p.inverted {
    color: rgba(255, 255, 255, 0.7)
}

a.black {
    color: var(--dark-color);
}

a.white {
    color: #fff;
}

a.white:hover,
a.white.hover,
a.white:focus {
    color: var(--primary-color-hover);
}

a.inverted:hover,
a.inverted.hover,
a.inverted:focus {
    color: rgba(255, 255, 255, 1);
}

a.black:hover,
a.black.hover,
a.black:focus {
    color: var(--primary-color-hover);
}

a.grey {
    color: var(--grey-color);
}

a.grey:hover,
a.grey.hover,
a.grey:focus {
    color: var(--primary-color-hover);
}

a.dashed {
    border-bottom: 1px dashed var(--grey-color);
}

b,
strong {
    font-weight: 700;
}

p {
    color: var(--grey-color);
    line-height: 1.7;
    margin-bottom: 1rem;
}

p:last-child {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Wojo Sans';
    line-height: 1.5;
    margin: 0 0 1rem 0;
    color: #1e2022;
    font-weight: 500;
    position: relative;
}

.h1,
h1 {
    font-size: 3.5rem;
    font-weight: 700;
}

.h2,
h2 {
    font-size: 2rem;
    font-weight: 500;
}

.h3,
h3 {
    font-size: 2.5rem;
}

.h4,
h4 {
    font-size: 2rem;
}

.h5,
h5 {
    font-size: 1.5rem;
    font-weight: 600;
}

.h6,
h6 {
    font-size: 1.25rem;
}

h1.basic,
h2.basic,
h3.basic,
h4.basic,
h5.basic,
h6.basic,
p.basic {
    margin: 0;
}

h1.fitted,
h2.fitted,
h3.fitted,
h4.fitted,
h5.fitted,
h6.fitted,
p.fitted,
.h1.fitted,
.h2.fitted,
.h3.fitted,
.h4.fitted,
.h5.fitted,
.h6.fitted {
    margin: 0;
    line-height: 1;
}

.divided:not(.list):not(.header):not(.footer) {
    padding: 0 0 1rem 0;
    margin-bottom: 1.5rem;
}

.divided:not(.list):not(.header):not(.footer)::before,
.divided:not(.list):not(.header):not(.footer)::after {
    height: .625rem;
    z-index: 5;
    bottom: 0;
    content: "";
    left: 50%;
    position: absolute;
    border-radius: 1rem;
    transform: translateX(-50%);
}

.divided:not(.list):not(.header):not(.footer)::before {
    width: 100px;
    background: var(--primary-color-inverted);
}

.divided:not(.list):not(.header):not(.footer)::after {
    width: 2rem;
    background: var(--primary-color);
}

.underlined {
    position: relative;
    margin-bottom: 2rem;
}

.underlined::after {
    background: var(--primary-color);
    content: "";
    width: 4rem;
    height: 2px;
    position: absolute;
    bottom: -.5rem;
    left: 0;
}

.underlined.white::after {
    background: #fff;
}

.underlined.center::after {
    left: 50%;
    transform: translateX(-50%);
}

.overlay {
    position: relative;
    z-index: 1;
}

.overlay.gradient::before,
.overlay.white::before,
.overlay.dark::before,
.overlay::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0.75;
    z-index: -35;
    background: var(--secondary-color);
}

.overlay.white::before {
    background: transparent;
}

.overlay.dark::before {
    background: #111;
}

.overlay.gradient::before {
    background: linear-gradient(to left, #6442ff 0%, #1B1464 100%);
}

.wojo.image .image-mask {
    position: absolute;
    left: 0;
    bottom: 0
}

header#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    /* background-color: var(--secondary-color); */
    background-color: rgba(0, 60, 124, 0.85);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header#header .top-bar {
    background: var(--secondary-color);
    padding: .15rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1)
}

header#header.sticky .top-bar {
    background: var(--secondary-color)
}

header#header.sticky {
    -webkit-animation: smoothScroll 1s forwards;
    animation: smoothScroll 1s forwards;
    background-color: var(--secondary-color);
    border-bottom: 0;
    box-shadow: 0 5px 25px 0 rgba(27, 20, 100, 0.15);
}

header#header a.logo {
    display: inline-block;
    line-height: 1;
}

header#header .logo img,
header#header .logo svg {
    width: 10rem
}

header#header .logo .logoshape1,
header#header .logo .logoshape3 {
    fill: #77838f;
}

header #iconList a {
    color: var(--primary-color);
}

header #iconList a:hover {
    color: var(--primary-color);
}

header.sticky #iconList a {
    color: var(--primary-color);
}

header.sticky #iconList a:hover {
    color: var(--primary-color-hover);
}

header .logo .logoshape2 {
    fill: var(--primary-color);
}

main {
    flex: 1 0 auto;
    background-size: 100% auto!important;
}

aside h4 {
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
}


/* == Menu == */

nav.menu {
    position: relative;
}

nav.menu .menu-mobile {
    display: none;
}

nav.menu .menu-dropdown-icon>a::after {
    content: "\e948";
    font-family: "WojoIcons";
    float: right;
    margin-left: .5rem;
    color: #fff;
}

nav.menu .menu-dropdown-icon:before {
    content: "\e948";
    font-family: "WojoIcons";
    display: none;
    cursor: pointer;
    float: right;
    padding: 1rem;
    background: #000;
}


/*menu caption*/

nav.menu small {
    display: none
}

nav.menu a>i.icon {
    margin-right: .5rem;
}

nav.menu>ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

nav.menu>ul:before,
nav.menu>ul:after {
    content: "";
    display: table;
}

nav.menu>ul:after {
    clear: both;
}

nav.menu>ul>li {
    float: left;
    padding: 0;
    margin: 0;
}

nav.menu>ul>li>a {
    text-decoration: none;
    padding: 1.5rem 1rem;
    display: block;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    color: #fff;
    opacity: 0.8;
    font-size: .813rem;
    position: relative;
}

header#header.sticky nav.menu>ul>li>a {
    color: #fff;
}

header#header.sticky nav.menu .menu-dropdown-icon>a::after {
    color: #fff;
}

nav.menu>ul>li>a::before {
    display: inline-block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7px;
    z-index: 7;
    content: '';
    position: absolute;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    background: #fff;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

header#header.sticky nav.menu>ul>li>a::before {
    background: var(--primary-color);
}

nav.menu>ul>li>a:hover::before {
    transform: scaleX(1);
    transform-origin: 0 0;
}

nav.menu>ul>li>a strong {
    font-weight: 500;
}

nav.menu>ul>li>a:hover,
nav.menu>ul>li>a.active {
    color: var(--primary-color-active);
    opacity: 1;
}

header#header.sticky nav.menu>ul>li>a:hover,
header#header.sticky nav.menu>ul>li>a.active {
    color: var(--primary-color-active);
}

nav.menu>ul>li>ul {
    display: none;
    width: 100%;
    background: var(--secondary-color);
    padding: 0;
    position: absolute;
    z-index: 999;
    left: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    box-shadow: 0 8px 20px rgba(55, 125, 255, 0.075);
}

nav.menu>ul>li>ul:before,
nav.menu>ul>li>ul:after {
    content: "";
    display: table;
}

nav.menu>ul>li>ul:after {
    clear: both;
}

nav.menu>ul>li>ul>li {
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    width: calc(100%/3);
    background: none;
    float: left;
}

nav.menu>ul>li>ul>li a {
    padding: .5rem;
    margin: 0 .5rem;
    display: block;
    font-size: 0.750rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    cursor: default;
    max-width: 400px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

nav.menu>ul>li>ul>li>ul {
    display: block;
    padding: 0;
    margin: .5rem 0 0;
    list-style: none;
    box-sizing: border-box;
}

nav.menu>ul>li>ul>li>ul:before,
nav.menu>ul>li>ul>li>ul:after {
    content: "";
    display: table;
}

nav.menu>ul>li>ul>li>ul:after {
    clear: both;
}

nav.menu>ul>li>ul>li>ul>li {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: .8rem;
}

nav.menu>ul>li>ul>li>ul>li a {
    border: 0;
    text-transform: none;
    color: #fff;
    font-size: .875rem;
    font-weight: 400;
    margin: 0;
    padding: .5rem 1rem;
    cursor: pointer;
}

nav.menu>ul>li>ul>li>ul>li a:hover {
    background-color: var(--primary-color);
    color: #fff;
}

nav.menu>ul>li>ul.normal-sub {
    width: 100vw;
    left: 0;
    padding: 0;
    padding-left: calc(50vw - 280px);
    position: fixed;
}

nav.menu>ul>li>ul.normal-sub>li {
    width: 100%;
}

nav.menu>ul>li>ul.normal-sub>li a {
    border: 0;
    margin: 0;
    color: #fff;
    padding: 1rem 1.5rem;
    cursor: pointer;
}

nav.menu>ul>li>ul.normal-sub>li a:hover {
    background-color: var(--primary-color);
    color: #fff;
}

#pageCaption {
    padding: 12rem 0 6rem 0;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 1
}

#pageCaption::before,
#moduleCaption::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0.25;
    z-index: -35;
    background: var(--secondary-color);
}

#pageCaption .wojo-grid {
    position: relative;
}

#pageCaption h1 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
}

#moduleCaption {
    background-color: var(--secondary-color);
    position: relative;
    z-index: 1;
    padding: 14rem 0 8rem 0;
    margin-bottom: 2rem;
    background: url("../images/hongkong.jpg") no-repeat;
    background-size: cover;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute!important;
    width: 1px;
}

#moduleCaption figure {
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
}

#moduleCaption.blog {}

#moduleCaption.shop {}

.page_blog article>h4 {
    font-size: 1.750rem;
    font-weight: 500;
    line-height: 1.2
}

.wojo.ajax.search {
    position: absolute;
    top: 100%;
    background: #fff;
    margin-top: .5em;
    box-shadow: 0 3px 6px 0 rgba(140, 152, 164, 0.25);
    border-radius: .250rem;
    z-index: 5;
    width: 100%
}

.fullsize {
    height: 100vh;
}

#fullpage a.logo {
    display: inline-block;
    line-height: 1;
    margin: 0 auto;
}

#fullpage a.logo img,
#fullpage a.logo svg {
    height: 2rem;
}

#fullpage a.logo .logoshape1,
#fullpage a.logo .logoshape3 {
    fill: #77838f;
}

#fullpage a.logo .logoshape2 {
    fill: var(--primary-color);
}

#dashboard {
    padding: 3rem 0 0 0;
    margin-bottom: 4rem;
    background: var(--secondary-color-inverted);
}

ul.wojo.dash.list {
    margin-top: 1rem;
    margin-bottom: 0;
    margin-left: 0;
}

ul.wojo.dash.list li a {
    color: var(--primary-color);
    align-items: center;
    display: inline-flex;
    font-weight: 500;
    padding: 1rem .5rem;
    position: relative;
}

ul.wojo.dash.list li a::before {
    display: inline-block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    z-index: 7;
    content: '';
    position: absolute;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    background: var(--primary-color);
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

ul.wojo.dash.list li a:hover::before,
ul.wojo.dash.list li.active a::before {
    transform: scaleX(1);
    transform-origin: 0 0;
}

ul.wojo.dash.list li a:hover,
ul.wojo.dash.list li.active a {
    color: var(--primary-color-hover);
}

ul.wojo.dash.list li a .icon {
    margin-right: 1rem;
}

footer {
    position: relative;
    background-color: var(--secondary-color);
    z-index: 1;
    flex-shrink: 0;
}

footer .wrapper {
    position: relative;
    z-index: 2
}

footer .copyright {
    color: #dee2e6;
    background: rgba(255, 255, 255, 0.05);
    padding: 2rem 0;
}

footer .contents {
    color: #dee2e6;
    padding: 6rem 0 4rem 0;
}

footer .logo img,
footer .logo svg {
    width: 1.5rem;
    margin-right: .875rem;
}

footer .logo .logoshape1,
footer .logo .logoshape3 {
    fill: rgba(255, 255, 255, 0.2);
}

footer .logo .logoshape2 {
    fill: var(--primary-color);
}

footer figure {
    bottom: 0;
    left: 0;
    width: 40%;
    z-index: 0;
}


/* Custom Pages */

body.page_profile,
body.page_sitemap,
body.page_dashboard {
    background-color: #F8F9FA;
}

body.page_profile header#header,
body.page_sitemap header#header,
body.page_dashboard header#header {
    background: var(--body-bg-color);
}

body.page_profile header#header.sticky,
body.page_sitemap header#header.sticky,
body.page_dashboard header#header.sticky {
    background: #fff;
}

body.page_profile main,
body.page_sitemap main,
body.page_dashboard main {
    padding-top: 7rem;
}

#searchHero {
    padding: 3rem 0;
    background: var(--secondary-color);
    opacity: .85;
    margin-bottom: 4rem;
    position: relative;
}

#searchHero .wave {
    position: absolute;
    width: 100%;
    bottom: -1rem;
    left: 0;
    height: auto;
}


/* Main Loader */

#master-loader {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5000;
    background-size: contain;
    background-position: left bottom;
}

#master-loader .curtains {
    background: #f9f9fb;
    height: 100%;
    position: fixed;
    top: 0;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    width: 51%;
    z-index: 5001;
}

#master-loader .curtains.left {
    left: 0;
}

#master-loader .curtains.right {
    right: 0;
}

.wanimation {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -webkit-animation: 2s linear 0s normal none infinite running spin;
    animation: 2s linear 0s normal none infinite running spin;
    border-color: #2196f3 transparent transparent;
    -o-border-image: none;
    border-image: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    display: block;
    height: 150px;
    left: 50%;
    margin: -75px 0 0 -75px;
    position: relative;
    top: 50%;
    width: 150px;
    z-index: 5005;
}

.wanimation::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -webkit-animation: 3s linear 0s normal none infinite running spin;
    animation: 3s linear 0s normal none infinite running spin;
    border-color: #f44336 transparent transparent;
    -o-border-image: none;
    border-image: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    bottom: 5px;
    content: "";
    left: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.wanimation::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -webkit-animation: 1.5s linear 0s normal none infinite running spin;
    animation: 1.5s linear 0s normal none infinite running spin;
    border-color: #ff9800 transparent transparent;
    -o-border-image: none;
    border-image: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    bottom: 15px;
    content: "";
    left: 15px;
    position: absolute;
    right: 15px;
    top: 15px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loaded #master-loader {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: all 0.3s ease-out 1s;
    visibility: hidden;
}

.loaded #master-loader .curtains.left {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
}

.loaded #master-loader .curtains.right {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
}

.loaded .wanimation {
    opacity: 0;
    transition: all 0.3s ease-out 0s;
}

@-webkit-keyframes smoothScroll {
    0% {
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes smoothScroll {
    0% {
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}


/* == Scroll to top == */

#back-to-top {
    color: #fff;
    text-decoration: none;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 9999;
    padding: 1.25rem;
    text-align: center;
    background-color: #00000033;
    cursor: pointer;
    display: none;
    opacity: .5;
    border: 0;
    border-radius: .250rem;
    transition: 0.3s ease-out;
}

#back-to-top:hover {
    text-decoration: none;
    opacity: 1;
}


/* == 404 Error == */

#error404 {
    background: var(--secondary-color);
    padding: 8rem 0;
    background-image: url(../images/module_header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    z-index: 1
}

#error404::before {
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0.75;
    z-index: -2;
    position: absolute;
    background: #1B1464;
}

body#errorPage {
    background-image: url(../images/error_bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    display: block;
}

body#errorPage header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 1rem 0;
}

body#errorPage .logo img,
body#errorPage .logo svg {
    width: 4rem;
    border-radius: .250rem;
}

body#errorPage .logo .logoshape1,
body#errorPage .logo .logoshape3 {
    fill: #77838f;
}

body#errorPage .logo .logoshape2 {
    fill: var(--primary-color);
}

body#errorPage main {
    position: relative;
    min-height: 100vh;
    display: flex;
    max-width: 1280px;
    padding: 0 1rem;
    margin: 0 auto;
}

body#errorPage footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.index_section {
    background-image: url("../images/concrete_seamless.jpeg");
    padding-top: 36px;
    padding-bottom: 20px;
}


/* == Maintenance == */

#mdashboard {
    margin-top: 1rem;
}

#mheader {
    position: absolute;
    top: 1rem;
    width: 100%;
    text-align: center;
    padding: 1rem;
}

#mheader .logo img,
#mheader .logo svg {
    width: 4rem;
    border-radius: .250rem;
}

#mheader .logo .logoshape1,
#mheader .logo .logoshape3 {
    fill: #77838f;
}

#mheader .logo .logoshape2 {
    fill: #377dff;
}

#mfooter {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-size: .750rem;
    padding: 1rem;
}

.dash {
    position: relative;
    padding: 0 1em;
}

.dash .digit {
    font-size: 3rem;
    line-height: 1;
    font-weight: 300;
    text-align: center;
    display: inline-flex;
    color: #377DFF;
}

.dash_title {
    display: block;
    font-size: .750rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 500;
    color: #77838F;
}

.wojo.button.player {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3);
    transition: all 0.5s ease;
}

.wojo.button.player:hover,
.wojo.button.player.attached:hover {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3), 0 0 0 20px rgba(255, 255, 255, 0.4);
    transform: translate(-50%, -50%) scale(1.15);
}

.wojo.button.player:hover {
    transform: scale(1.15);
}

.video-content-title {
    font-family: Sans-serif;
    font-size: 4em;
    font-weight: 600;
}

.video-content {
    text-align: left;
    color: #fff;
    text-shadow: 0px 0px 10px #000000;
    position: absolute;
    bottom: 15vw;
    width: 45vw;
    margin-left: 10vw;
}

header #dropdown-langChange a.active {
    color: #fff!important;
}


/* == Tablet == */

@media screen and (min-width:40.625em) and (max-width:64em) {
    #loginFooter {
        width: 30%;
    }
    #regForm {
        padding: 3.5rem 0;
    }
    .video-content {
        position: absolute;
        bottom: 15vw;
        width: 65vw;
    }
    video {
        margin-top: 65px;
        width: 160%;
        height: auto;
    }
    #opEdbNc {
        height: auto!important;
    }
}

input:autofill {
    background: #fff;
    color: #000;
    /* or any other */
}


/* == Mobile == */

@media screen and (max-width:48.063em) {
    header#header .bottom-bar {
        margin-top: .5rem;
    }
    nav.menu {
        text-align: left;
        position: relative;
        background-color: #fff;
    }
    nav.menu,
    nav.menu .menu-dropdown-icon:before {
        display: block;
    }
    nav.menu .menu-dropdown-icon::before {
        padding: .5rem;
    }
    nav.menu .menu-dropdown-icon>a:after,
    nav.menu>ul>li>ul:after {
        display: none
    }
    nav.menu>ul {
        display: none;
        margin-top: 1rem;
    }
    nav.menu>ul>li {
        width: 100%;
        float: none;
        display: block;
    }
    nav.menu>ul>li a {
        padding: 1rem .750rem;
        width: 100%;
        display: block;
        color: #111
    }
    nav.menu>ul>li>a:hover,
    nav.menu>ul>li>a.active {
        color: var(--primary-color);
        opacity: 1;
    }
    nav.menu>ul>li>ul {
        position: relative;
        border-radius: .0;
        border-top: 0;
        box-shadow: none;
        padding: 0;
        padding-left: 1rem;
        border-left: 3px solid var(--primary-color);
    }
    nav.menu>ul>li>ul.normal-sub {
        width: 100%;
    }
    nav.menu>ul>li>ul>li {
        float: none;
        width: 100%;
    }
    nav.menu>ul>li>ul>li:first-child {
        margin: 0;
    }
    nav.menu>ul>li>ul>li>ul {
        position: relative;
    }
    nav.menu>ul>li>ul>li>ul {
        margin: 1rem 0 0;
    }
    nav.menu>ul>li>ul>li>ul>li {
        float: none;
    }
    nav.menu .show-on-mobile {
        display: block;
    }
    #loginFooter {
        display: none
    }
    #regForm {
        padding: 3.5rem 0;
    }
    .video-content {
        text-align: left;
        color: #fff;
        text-shadow: 0px 0px 10px #000000;
        position: absolute;
        bottom: 25vw;
        width: 60vw;
    }
    video {
        margin-top: 65px;
        width: 180%;
        height: auto;
    }
    #opEdbNc {
        height: auto!important;
    }
}


/* == Phone == */

@media screen and (max-width:30em) {
    header#header .top-bar {
        display: none;
    }
    body#errorPage footer {
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        border: 0;
        margin: 0;
        padding: 0;
        background-color: transparent;
    }
    .wojo.huge.text,
    h1 {
        font-size: 2.5rem;
    }
    #loginFooter {
        display: none
    }
    #regForm {
        padding: 3.5rem 0;
    }
    ul.wojo.dash.list {
        display: block;
        margin: 0;
    }
    .wojo.horizontal.dash.relaxed.list .list>.item:not(:last-child),
    .wojo.dash.horizontal.relaxed.list>.item:not(:last-child),
    .wojo.horizontal.dash.relaxed.list .list>.item:not(:first-child),
    .wojo.dash.horizontal.relaxed.list>.item:not(:first-child) {
        padding: 0;
        display: block;
        margin: 0;
    }
    .wojo.horizontal.dash.list>.item {
        margin: 0
    }
    video {
        margin-top: 65px;
        width: 200%;
        height: auto;
    }
    .video-content {
        width: 80vw!important;
        bottom: 20vw!important;
    }
    .video-content-title {
        font-size: 30px!important;
    }
    .wojo.mason,
    .wojo.mason.three {
        display: block!important;
    }
    .wojo.fluid.list .item>.content {
        flex: auto;
    }
    #opEdbNc {
        height: auto!important;
    }
}